# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-erlang-workbench'
      'command': 'atom-erlang-workbench:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Erlang workbench'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-erlang-workbench:toggle'
        },
        {
          'label': 'Test'
          'command': 'atom-erlang-workbench:test'
        },
        {
          'label': 'Run'
          'submenu': [
            {
              'label': 'Terminal'
              'command': 'atom-erlang-workbench:run_terminal'
            },
            {
              'label': 'EShell'
              'command': 'atom-erlang-workbench:run_eshell'
            }
          ]
        },
        {
          'label': 'Rebar'
          'submenu': [
            {
              'label': 'Compile'
              'command': 'atom-erlang-workbench:run_rebar_compile'
            }
          ]

        }
      ]
    ]
  }
]
